{% extends "layout.html" %}
{% block content %}
    <!-- header-area start -->
    <header class="header-area" id="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-bottom">
                            <div class="row">
                            <div class="col-md-4 col-sm-9 col-xs-6">
                                <div class="logo">
                                    <a href="{{url_for('home')}}">
                                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" id="logoResize" width="auto" height="45px">

                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu text-right">
                                    <ul id="navigation">
                                        <li class="active"><a href="{{url_for('home')}}">HOME</a></li>
                                        <li><a href="#section2" data-scroll>How It Works</a></li>
                                        <li><a href="#section3" data-scroll>Features</a></li>
                                        <li><a href="#section4" data-scroll>Pricing</a></li>
                                        <li><a href="{{url_for('contact')}}">CONTACT US</a></li>
                                        {% if current_user.is_authenticated %}
                                            <li><a href="{{url_for('dashboard')}}"><button type="button" class="btn btn-success">Dashboard</button></a></li>   
                                            <li><a href="{{url_for('logout')}}"><button type="button" class="btn btn-success">LOGOUT</button></a></li>   
                                        {% else %}
                                            <li><a href="{{url_for('login')}}"><button type="button" class="btn btn-success">LOGIN</button></a></li>   
                                            <li><a href="{{url_for('register')}}"><button type="button" class="btn btn-primary">SIGN UP</button></a></li>   
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <!-- slider-area start -->
    <div class="slider-area">
        <div class="slider-active">
            <div class="slider-items">
                <img src="{{ url_for('static', filename='images/slider/4.jpg') }}" alt="slider" class="slider">
                <div class="single-slider single-slider2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-10 col-xs-12 col-md-7 col-md-offset-5 text-right">
                                <h2>Powerful SMS Communication in an easy way</h2>
                                <a href="{{url_for('register')}}">Create Test Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-items">
                <img src="{{ url_for('static', filename='images/slider/2.jpg') }}" alt="slider" class="slider">
                <div class="single-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-sm-10 col-xs-12">
                                <h2>Powerful SMS Communication in an easy way</h2>
                                <a href="{{url_for('register')}}">Create Test Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                  
        </div>
    </div>
    <!-- slider-area end -->
    
    <!-- how-usms-works-area start -->
    <div class="how-usms-area ptb-80 bg-1" id="section2">
        <div class="container">
            <div class="row">
                <div class="how-usms-wrap">
                    <span class="section-title katikati"><h3>How USMS Works </h3></span>
                    <div class="how-center">
                        <p>Usms is a messaging tool that makes it fast and easy for businesses to communicate with their customers and employees.</p>
                        <p>This platform has helped thousands of organizations use text message marketing to engage their followers, enhance their marketing strategies and boost revenue.</p>
                        <p>Quickly and safely communicate with your followers using our affordable and customizable features such as mobile coupons, keyword auto responders, and group messaging.</p>
                        <p>With more than 99% of text messages being opened and read within minutes of receipt, driving business has never been easier.</p>
                    </div>                        
                    <div>
                        <span class="section-title katikati"><h3>TRY OUR SMS SERVICE NOW!</h3></span>
                        <div class="kati">
                                <p>Send a free message to your mobile phone.</p>                                    
                                <form action="#">
                                    <input type="text" placeholder="Enter Phone Number">
                                </form>
                                <br>
                                <a href="#">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HOW-USMS-WORKS end -->
    <!-- why-usms-area start -->
    <div class="why-usms bg-2" id="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Why USMS</h2>                            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-2 col-sm-6 col-xs-12">
                    <div class="why-usms-wrap">
                        <div class="why-usms-icon">
                            <img src="{{ url_for('static', filename='images/icon/text.png') }}">
                        </div>
                        <div class="why-usms-info">
                            <h3>It's Effective</h3>
                            <span>Approximately 90% of text messages are read within three minutes of delivery. People pay attention to SMS.</span>                                
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-2 col-sm-6 col-xs-12">
                    <div class="why-usms-wrap">
                        <div class="why-usms-icon">
                            <img src="{{ url_for('static', filename='images/icon/usms.png') }}">
                        </div>
                        <div class="why-usms-info">
                            <h3>It's Simple</h3>
                            <span>Bulk SMS makes it easy to send messages to individuals or groups without requiring an app download. It just works.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-2 col-sm-6 col-xs-12">
                    <div class="why-usms-wrap">
                        <div class="why-usms-icon">
                            <img src="{{ url_for('static', filename='images/icon/sms.png') }}">
                        </div>
                        <div class="why-usms-info">
                            <h3>It's Flexible</h3>
                            <span>Bulk SMS can scale with your business usage and accommodate your changing communication needs.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- why-usms-area end -->
    <!-- pricing-area start -->
    <div class="pricing-area bg-1" id="section4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Simple Pricing</h2>
                        <p>No hidden costs, No set up fee,</p>
                        <p>Pay only for sent messages.</p>
                    </div>
                </div>
            </div>
            <div class="row how-center-3">
                <div class="col-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-wrap text-center">                            
                        <span>No expiration date for all payments made <br> (open-ended validity).</span>
                    </div>
                </div>
                <div class="col-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-wrap text-center active">
                        <span>Diverse, simple and convenient <br> (Mpesa, cheques,credit card, bank transfer).</span>
                    </div>
                </div>
                <div class="col-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-wrap text-center">
                        <span>Just Kshs 100 minimum payment.
                            <br><br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pricing-area end -->

    <!-- contact-us start -->
    <div class="discount-area parallax black-opacity"  data-speed="5" data-bg-image="assets/images/bg/5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="discount-wrap how-center-2">
                        <h2>Contact Us</h2>
                        <div>Feel free to email us to provide some feedback, give us suggestions for <br> new features, for support or to just say hello!</div>
                        <br>
                        <a href="contact.html">Reach Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-us end -->
{% endblock content %}