{% extends "layout.html" %}
{% block content %}
    <!-- header-area start -->
    <header class="header-area" id="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-bottom">
                            <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-6">
                                <div class="logo">
                                    <a href="{{url_for('home')}}">
                                        <img src="{{url_for('static', filename='images/logo.png')}}" alt="" id="logoResize" (width:auto, height:45px)>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu text-right">
                                    <ul id="navigation">
                                        <li class="active"><a href="{{url_for('home')}}">HOME</a></li>
                                        <li><a href="{{url_for('contact')}}">CONTACT US</a></li>
                                        <li><a href="{{url_for('register')}}"><button type="button" class="btn btn-primary">SIGN UP</button></a></li>   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area bg-img-6 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>LOGIN</h2>
                        <ul>
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li>/</li>
                            <li class="active">Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

<!-- checkout-area start -->
    <div class="checkout-area ptb-80 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="checkout-form-wrap mb-30">
                        <h3 class="checkout-title">Login To Panel</h3>
                        <form method="POST" action="" class="checkout-form">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div>
                                    <p>Email <span>*</span></p> 
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback form-control">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}                                       
                                </div>
                                <div>
                                    <p>Password <span>*</span></p>
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback form-control">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}                                       
                                </div>
                                <div class="form-check row">
                                    <span class="col-lg-2">{{ form.remember(class="form-check-input", style="height: 15px;") }}</span>
                                    <span>Remeber Me</span>
                                </div>
                            </div>
                            <a class="order">{{ form.submit(class="btn btn-outline-info")}}</a>
                            <hr>
                            <small class="text-muted">
                                <a href="#">Forgot Password? </a>
                            </small>
                            <br>
                            <small class="text-muted">
                                Need An Account? <a href="{{url_for('register') }}"> Sign Up Now</a>
                            </small>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->
{% endblock content %}