{% extends "dashboard/layout.html" %}
{% block content %}

    <!-- ========== LEFT SIDEBAR ========== -->
    <div class="left-sidebar fixed-sidebar bg-black-300 box-shadow tour-three">
        <div class="sidebar-content">
            <div class="user-info closed">
                <img src="http://placehold.it/90/c2c2c2?text=User" alt="Anne" class="img-circle profile-img">
                <h6 class="title">Emmanuel</h6>
                <small class="info">Account Administrator</small>
            </div>
            <!-- /.user-info -->

            <div class="sidebar-nav">
                <ul class="side-nav color-gray">
                    <li class="nav-header">
                        <li><a href="{{url_for('dashboard')}}"><i class="fa fa-home"></i> <span>Dashboard</span></a>
                    </li>

                    <li class="nav-header">
                        <span class="">Send SMS</span>
                    </li>
                    <li><a href="#"><i class="fa fa-envelope"></i> <span>Compose SMS</span></a></li>

                    <li><a href="#"><i class="fa fa-file"></i> <span>SMS From Excel</span></a></li>

                    <li><a href="#"><i class="fa fa-font"></i> <span> Manage Sender ID</span></a></li>

                    <li class="nav-header">
                        <span class="">Contacts</span>
                    </li>
                    <li><a href="#"><i class="fa fa-th"></i> <span> Manage Groups</span></a></li>

                    <li><a href="#"><i class="fa fa-chevron-down"></i> <span>Import Contacts</span></a></li>

                    <li><a href="#"><i class="fa fa-chevron-up"></i> <span>Export Contacts</span></a></li>

                    <li class="nav-header">
                        <span class="">Reports</span>
                    </li>
                    <li><a href="#"><i class="fa fa-list-alt"></i> <span>Campaign Report</span></a></li>

                    <li><a href="#"><i class="fa fa-tasks"></i> <span>My Schedule</span></a></li>

                    <li class="nav-header">
                        <span class="">Application Bar</span>
                    </li>

                    <li><a href="#"><i class="fa fa-tasks"></i> <span>My Transactions</span></a></li>

                    <li class="nav-header">
                            <span class="">Settings</span>
                    </li>

                    <li><a href="#"><i class="fa fa-lock"></i> <span>Change Password</span></a></li>

                    <li><a href="#"><i class="fa fa-hand-o-right"></i> <span>Service Support 24x7</span></a></li>

                    <li class="nav-header">
                        <span class="">Pages</span>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-nav -->
        </div>
        <!-- /.sidebar-content -->
    </div>
    <!-- /.left-sidebar -->

    <div class="main-page">
        <div class="container-fluid">
            <div class="row page-title-div">
                <div>
                    <h2 class="title"> <a href="{{url_for('dashboard')}}">Usms Dashboard</a></h2>
                </div>
            </div>
            <!-- /.row -->
            <div class="row breadcrumb-div">
                <div class="col-sm-6">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('dashboard')}}"><i class="fa fa-home"></i>SMS</a></li>
                        <li><a href="{{url_for('administration')}}">Administration</a></li>
                        <li><a href="{{url_for('smpp')}}">SMPP</a></li>
                        <li><a href="{{url_for('api_documents')}}">API Documents</a></li>
                    </ul>
                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6 text-right hidden-xs">
                    <a href="#"><i class="fa fa-headphones"></i>Customer Support: (254)702 423131</a>
                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.row -->

            <div class="col-md-6 proff">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Edit Profile</h5>
                        </div>
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="name7" class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name7" placeholder="Enter Your First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name7" class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name7" placeholder="Enter Your Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username7" class="col-sm-3 control-label">Mobile</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username7" placeholder="Enter Contact Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail7" class="col-sm-3 control-label">Email Id</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="exampleInputEmail7" placeholder="Enter Your Email address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name7" class="col-sm-3 control-label">State</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name7" placeholder="Enter County">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name7" class="col-sm-3 control-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name7" placeholder="Enter Country of Residence">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword7" class="col-sm-3 control-label">Default Sender ID</label>
                                <div class="col-sm-9">
                                    <select id="dropdownId">
                                        <option value="1">SMS</option>
                                        <option value="2">BULK</option>
                                        <option value="2">API</option>
                                        <option value="3">PYTHON</option>
                                        </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right mt-10">Update My Settings</button>
                        </form>
                        <!-- /.col-md-12 -->
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.main-page -->
{% endblock content %}