{% extends "dashboard/layout.html" %}
{% block content %}

<!-- ========== LEFT SIDEBAR ========== -->
<div class="left-sidebar fixed-sidebar bg-black-300 box-shadow tour-three">
    <div class="sidebar-content">
        <div class="user-info closed">
            <img src="http://placehold.it/90/c2c2c2?text=User" alt="Anne" class="img-circle profile-img">
            <h6 class="title">Emmanuel</h6>
            <small class="info">Account Administrator</small>
        </div>
        <!-- /.user-info -->

        <div class="sidebar-nav">
            <ul class="side-nav color-gray">
                <li class="nav-header">
                    <li><a href="{{url_for('dashboard')}}"><i class="fa fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="nav-header">
                    <span class="">Send SMS</span>
                </li>
                <li><a href="#"><i class="fa fa-envelope"></i> <span>Compose SMS</span></a></li>

                <li><a href="#"><i class="fa fa-file"></i> <span>SMS From Excel</span></a></li>

                <li><a href="#"><i class="fa fa-font"></i> <span> Manage Sender ID</span></a></li>

                <li class="nav-header">
                    <span class="">Contacts</span>
                </li>
                <li><a href="#"><i class="fa fa-th"></i> <span> Manage Groups</span></a></li>

                <li><a href="#"><i class="fa fa-chevron-down"></i> <span>Import Contacts</span></a></li>

                <li><a href="#"><i class="fa fa-chevron-up"></i> <span>Export Contacts</span></a></li>

                <li class="nav-header">
                    <span class="">Reports</span>
                </li>
                <li><a href="#"><i class="fa fa-list-alt"></i> <span>Campaign Report</span></a></li>

                <li><a href="#"><i class="fa fa-tasks"></i> <span>My Schedule</span></a></li>

                <li class="nav-header">
                    <span class="">Application Bar</span>
                </li>

                <li><a href="#"><i class="fa fa-tasks"></i> <span>My Transactions</span></a></li>

                <li class="nav-header">
                        <span class="">Settings</span>
                </li>

                <li><a href="#"><i class="fa fa-lock"></i> <span>Change Password</span></a></li>

                <li><a href="#"><i class="fa fa-hand-o-right"></i> <span>Service Support 24x7</span></a></li>

                <li class="nav-header">
                    <span class="">Pages</span>
                </li>
                <li class=""><a href="{{url_for('pages_404')}}"><i class="fa fa-info"></i> <span>Error 404</span></a></li>
                <li class=""><a href="{{url_for('pages_500')}}"><i class="fa fa-info-circle"></i> <span>Error 500</span></a></li>
            </ul>
        </div>
        <!-- /.sidebar-nav -->
    </div>
    <!-- /.sidebar-content -->
</div>
<!-- /.left-sidebar -->

<div class="main-page">
    <div class="container-fluid">
        <div class="row page-title-div">
            <div>
                <h2 class="title"> <a href="{{url_for('dashboard')}}">Usms Dashboard</a></h2>
            </div>
        </div>
        <!-- /.row -->
        <div class="row breadcrumb-div">
            <div class="col-sm-6">
                <ul class="nav nav-tabs">
                    <li class="active" role="presentation"><a href="{{url_for('dashboard')}}"><i class="fa fa-home"></i>SMS</a></li>
                    <li><a href="{{url_for('administration')}}">Administration</a></li>
                    <li><a href="{{url_for('smpp')}}">SMPP</a></li>
                    <li><a href="{{url_for('api_documents')}}">API Documents</a></li>
                </ul>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-right hidden-xs">
                <a href="#"><i class="fa fa-headphones"></i>Customer Support: (254)702 423131</a>
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <section class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-primary" href="#">
                        <span class="number counter">0</span>
                        <span class="name">SMS Sent</span>
                        <span class="bg-icon"><i class="fa fa-envelope"></i></span>
                    </a>
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-danger" href="#">
                        <span class="number counter">97836</span>
                        <span class="name">Promotional</span>
                        <span class="bg-icon"><i class="fa fa-opencart"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-warning" href="#">
                        <span class="number counter">31</span>
                        <span class="name">Transactional</span>
                        <span class="bg-icon"><i class="fa fa-shopping-cart"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-success" href="#">
                        <span class="number counter">+0.0%</span>
                        <span class="name">Delivered</span>
                        <span class="bg-icon"><i class="fa fa-globe"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.section -->

    <section class="section pt-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel border-primary no-border border-3-top" data-panel-control>
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5>Sent Message Details</h5>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="bar-chart" class="op-chart"></div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="panel border-primary no-border border-3-top" data-panel-control>
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5>3D Pie Chart <small>download PNG, JPG, PDF etc..</small></h5>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="pie-chart" class="op-chart"></div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.section -->
</div>
<!-- /.main-page -->
{% endblock content %}