{% extends "layout.html" %}
{% block content %}
    <!-- header-area start -->
    <header class="header-area" id="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-bottom">
                            <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-6">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{{url_for('static', filename='images/logo.png')}}" alt="" id="logoResize" (width:auto, height:45px)>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu text-right">
                                    <ul id="navigation">
                                        <li class="active"><a href="index.html">HOME</a></li>
                                        <li><a href="contact.html">CONTACT US</a></li>
                                        <li><a href="login.html"><button type="button" class="btn btn-success">LOGIN</button></a></li>   
                                        <li><a href="register.html"><button type="button" class="btn btn-primary">SIGN UP</button></a></li>    
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->
    <!-- breadcumb-area start -->
    <div class="breadcumb-area bg-img-5 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>PAGE NOT FOUND</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li class="active">404</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->
    
    <!-- 404-area start -->
    <div class="error-area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="error-wrap kati">
                        <img src="{{url_for('static', filename='images/404.png')}}" alt="">
                        <h3>The Requested Page Cannot Be Found</h3>
                        <p>You May Have Mistyped The Address Or The Page May Have Moved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404-area end -->
    {% endblock content %}