{% extends "layout.html" %}
{% block content %}
    <!-- header-area start -->
    <header class="header-area" id="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-bottom">
                            <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-6">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{{url_for('static', filename='images/logo.png')}}" alt="" id="logoResize" (width:auto, height:45px)>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu text-right">
                                    <ul id="navigation">
                                        <li class="active"><a href="index.html">HOME</a></li>
                                        <li><a href="contact.html">CONTACT US</a></li>
                                        <li><a href="register.html"><button type="button" class="btn btn-primary">SIGN UP</button></a></li>   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area bg-img-6 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>LOGIN</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li class="active"><LOGIN>Login</LOGIN></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

<!-- checkout-area start -->
    <div class="checkout-area ptb-80 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="checkout-form-wrap mb-30">
                        <h3 class="checkout-title">Login To Panel</h3>
                        <div class="checkout-form">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Email <span>*</span></p>
                                    <input type="text" class="form-control" placeholder="Your email address..."/>
                                </div>
                                <div class="col-md-8">
                                    <p>Password <span>*</span></p>
                                    <input type="text" class="form-control" placeholder="Your Password..."/>
                                </div>
                            </div>
                            <a class="order" href="dashboard/index.html">Sign In</a>
                            <span><a href="#">Forgot Password? </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->
{% endblock content %}