{% extends "layout.html" %}
{% block content %}
    <!-- header-area start -->
    <header class="header-area" id="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-bottom">
                            <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-6">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{{url_for('static', filename='images/logo.png')}}" alt="" id="logoResize" (width:auto, height:45px)>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu text-right">
                                    <ul id="navigation">
                                        <li class="active"><a href="index.html">HOME</a></li>
                                        <li><a href="contact.html">CONTACT US</a></li>
                                        <li><a href="login.html"><button type="button" class="btn btn-success">LOGIN</button></a></li>   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area bg-img-6 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>SIGN UP</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li class="active"><LOGIN>Sign Up</LOGIN></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

<!-- checkout-area start -->
    <div class="checkout-area ptb-80 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="checkout-form-wrap mb-30">
                        <h3 class="checkout-title">SIGN UP FOR FREE</h3>
                        <div class="katikati">
                            <span>Easy set up. No Commitment.</span>
                            <br>
                            <span>Free Credits for tests.</span>
                        </div>
                        <div class="checkout-form">
                            <div class="row">
                                <div>
                                    <p>Full Name <span>*</span></p>
                                    <input type="text" class="form-control" placeholder="Your Full Name..."/>
                                </div>
                                <div>
                                    <p>Email <span>*</span></p>                                        
                                    <input type="email" class="form-control" id="exampleInputEmail13" placeholder="Your email address..." data-validation="email"/>
                                </div>
                                <div>
                                    <p>Phone <span>*</span></p>
                                    <input type="text" class="form-control" placeholder="Your phone..."/>
                                </div>
                                <div>
                                    <p>Password <span>*</span></p>
                                    <input type="password" class="form-control" placeholder="Your password..."/>
                                </div>
                                <div>
                                    <p>Confirm Password <span>*</span></p>
                                    <input type="email" class="form-control" placeholder="Confirm your password..."/>
                                </div>
                            </div>
                            <a class="order" href="#">Sign Up</a>
                            <br>
                            <h6>By clicking the "Sign Up" button you are agreeing to the </h6>
                            <h6>USMS sending policy and Terms of Use</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->
{% endblock content %}