{% extends "layout.html" %}
{% block content %}
    <!-- header-area start -->
    <header class="header-area" id="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-bottom">
                            <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-6">
                                <div class="logo">
                                    <a href="{{url_for('home')}}">
                                        <img src="{{url_for('static', filename='images/logo.png')}}" alt="" id="logoResize" (width:auto, height:45px)>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu text-right">
                                    <ul id="navigation">
                                        <li class="active"><a href="{{url_for('home')}}">HOME</a></li>
                                        <li><a href="{{url_for('contact')}}">CONTACT US</a></li>
                                        <li><a href="{{url_for('login')}}"><button type="button" class="btn btn-success">LOGIN</button></a></li>   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg">
                                <div class="responsive-menu-wrap floatright"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area bg-img-6 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>SIGN UP</h2>
                        <ul>
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li>/</li>
                            <li class="active"><LOGIN>Sign Up</LOGIN></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

<!-- checkout-area start -->
    <div class="checkout-area ptb-80 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="checkout-form-wrap mb-30">
                        <h3 class="checkout-title">SIGN UP FOR FREE</h3>
                        <div class="katikati">
                            <span>Easy set up. No Commitment.</span>
                            <br>
                            <span>Free Credits for tests.</span>
                        </div>
                        <div class="checkout-form">
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                            <div class="row">
                                <div>
                                    <p>Full Name <span>*</span></p>
                                    {% if form.username.errors %}
                                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.username(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div>
                                    <p>Email <span>*</span></p> 
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}                                       
                                </div>
                                <div>
                                    <p>Phone <span>*</span></p>
                                    {% if form.phone.errors %}
                                        {{ form.phone(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.phone(class="form-control form-control-lg") }}
                                    {% endif %}                                      
                                </div>
                                <div>
                                    <p>Password <span>*</span></p>
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}                                       
                                </div>
                                <div>
                                    <p>Confirm Password <span>*</span></p>
                                    {% if form.confirm_password.errors %}
                                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_password(class="form-control form-control-lg") }}
                                    {% endif %}                                       
                                </div>
                            </div>
                            <a class="order">{{ form.submit(class="btn btn-outline-info")}}</a>
                            <br>
                            <h6>By clicking the "Sign Up" button you are agreeing to the </h6>
                            <h6>USMS sending policy and Terms of Use</h6>
                            <small class="text-muted">
                                Already Have An Account? <a class="ml-2" href="{{url_for('login') }}"> Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->
{% endblock content %}